<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    {% if title %}
    <title>{{ title }} - What Bird?</title>
    {% else %}
    <title> Welcome to What Bird?</title>
    {% endif %}
    <script src="./static/js/myScript.js"></script>   // reload
    <link rel="stylesheet" href="./static/styles/main.css">


</head>
<body>
    <div>What bird: <a href="/index">Home</a></div>
    <div>What bird: <a href="/upload">Upload bird</a></div>
    <div>What bird: <a href="/test">test</a></div>
    <hr>

    {% block content %}{% endblock %}
</body>
</html>