{% extends "base.html" %}

{% block content %}
<div class="grid-container">
    <div class="grid-item">
        <div class="droparea" id="birdpic" >Drop picture here
        </div>
    </div>
    <div class="grid-item">
    <div class="gallery">
    <div class="words1" id="prediction1">1.
    </div>
    <div class="words2" id="prediction0">
    </div>
    </div>
    <div class="gallery">
        <div class="words3" id="prediction2">2.
        </div>
        <div class="words3" id="prediction3">3.
        </div>
    </div>
    </div>
</div>



{% endblock %}