{% extends "base.html" %}

{% block content %}
<form action = "http://localhost:5000/uploader" method = "POST"
      enctype = "multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit" />
</form>
<style>
  .droparea {
      width: 200px;
      height: 200px;
      border-style: solid;
      border-width: 3px;
      border-color: red;
      float: left;
      line-height: 200px;
      text-align: center;
  }
</style>
<div class="container">
    <div class="droparea">Drop Here</div>
    <div class="tablearea" id="tablearea"></div>
</div>

{% endblock %}